<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css " />
    <title>User Manager</title>
  </head>
  <body>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fadeOut" >
  <a class="navbar-brand fadeOut" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapsing navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/users/login">Login</a>
      <a class="nav-item nav-link" href="/users/register">Register</a>
      <a class="nav-item nav-link" href="/users">Dashboard</a>
      <a class="nav-item nav-link" href="/users/logout">Logout</a>
    </div>
  </div>
</nav>
</div>
<div class="container">
  {{#if sessionFlash.message}}
    <div class="alert alert-{{sessionFlash.type}}">
       <span>{{ sessionFlash.message }}</span>
    </div>
  {{/if}}
    {{{body}}}
    <div class="ml-4" id="show-date"></div>
      
    </div>
    <script src="https://unpkg.com/jalali-moment/dist/jalali-moment.browser.js"></script>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {{{_sections.script}}}
  <!---  separate  -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
    $('#example').DataTable({
        "paging":   true,
        "ordering": true,
        "info":     true
    });
} );
</script>
    <script>
    m = moment().locale('fa');
    var year = m.format('YYYY');
    var month = m.format('MM');
    var day = m.format('DD');
    var hour = m.format('HH');
    var minutes = m.format('mm');
    var second = m.format('ss');
    function toFarsiNumber(n) {
      const farsiDigits = ['۰', '۱', '۲', '۳', '۴', '۵', '۶', '۷', '۸', '۹'];
      return n
      .toString()
      .split('')
      .map(x => farsiDigits[x])
      .join('');
  }
  var faToEnDigits = toFarsiNumber(m);
  document.getElementById("show-date").innerHTML = toFarsiNumber(year) + "/" + toFarsiNumber(month) + "/" + toFarsiNumber(day) + "   \t  " + toFarsiNumber(hour) + ":" + toFarsiNumber(minutes) + ":" + toFarsiNumber(second);
</script>
  </body>
</html>